/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*
body {
  /* Margin bottom by footer height 
margin-bottom: 60px;
}
*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*self made for the layout.cshtml
    ---------------------------------------*/
li {
    list-style-type: none;
    /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
    margin: 0 2vw;
    font-size: 3vh;
}

a {
    text-decoration: none;
    padding: 2vw;
    color: black;
    font-family: monospace;
}

a:hover{
    background-color: #C6E9FF;
}

nav{
    width: 100vw;
    background-color: slategrey;
}

ul {
    margin: 0;
    padding: 0;
    /*this option by default dispose the elements in a row (flex-direction: row)*/
    display: flex;
}

body{
    margin: 0;
}

button{
    display: none;
}

/*change the layout of the navigation bar for all the screens 
that have a width less or equal than 500px*/
@media only screen and (max-width:700px){
    ul{
        flex-direction: column;
    }

    /* deletes margin on top or bottom of the a tag*/
    li{
        margin: 0;
    }

    /* makes sure that the a tag will take the entire screen*/
    a{
        display: block;
    }

    button {
        /*makes the button visible*/
        display: block;

        /*since we are here, we can style it a little bit!*/
        padding: 2vw;
        font-size: 3vh;
        background-color: #AFE0FF;
        border: none;

        /*outline none removes the default blue border that appears anytime you click on the button*/
        outline: none;

        cursor: pointer;

        /*this put the button on the left*/
        align-self: flex-start
    }
}